<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>Send us a postcard:<br>Fiskislóð 79, 101 Reykjavík, Iceland</li>
        </ul>
        <p></p>
      </div>

      <div class="footer-col footer-col-3 align-right pull-right">

        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://github.com/shoenio/">github.com/schoenio/</a></li>
        </ul>

      </div>
    </div>

  </div>

</footer>
