<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><a href="/">{{ site.title }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>Fiskislóð 79, 101 Reykjavík, Iceland</li>
          <li><a href="/terms-and-privacy/">Terms &amp; Privacy</a></li>

        </ul>
        <p></p>
      </div>

      <div class="footer-col footer-col-3 align-right pull-right">

        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://github.com/schoenio/">github.com/schoenio/</a></li>
        </ul>

      </div>
    </div>

  </div>

</footer>

<script src="/assets/js/schon.js"></script>